.page{
    width:200px;
    margin:auto;
}
.container{
    width:150px;
    margin-top:30px;
    border:1px #ccc solid;
    border-radius: 3px;
    padding:20px;
    line-height: 20px;
}
.style-1{
    border-radius:0;
    padding-left:16px;
    padding-right:16px;
    border:none;
    border-left:5px red solid;
    border-right:5px red solid;
    background:#ffe7e7;
    line-height:22px;
}
.style-2{
    border-radius:0;
    border:none;
    border-top:6px #fffb3b solid;
    border-bottom:6px #ffeb3b solid;
    background:#ffffd7;
    padding-left:21px;
    padding-right:21px;
    line-height:10px;
}
.style-3{
    border-radius:0;
    border:1px #4caf50 solid;
    border-bottom:6px #4caf50 solid;
    background:#e7ffe7;
    line-height:15px;
}
